{% extends "base.html" %}

{% block main %}
  <div class="container">
    <h1>List of uploaded magnets not yet resolved</h1>

    <div class="card my-3">
      <div class="card-body">
        <div class="table-responsive-lg">
          <table class="table align-middle">
            <thead>
              <tr>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            {% for magnet in magnets %}
            <tr>
              <td class="is-left" align="left"><a href="/magnet/{{ magnet.id }}">{{ magnet.name }}</a></td>
              <td>
                {% if magnet.resolved %}
                  <!-- TODO: mettre le lien vers la page des d'import d'un torrent -->
                  <a href="#" class="btn btn-success">
                    Importer
                  </a>
                {% else %}
                  <i class="fa fa-spinner fa-pulse me-2"></i>
                  Resolving…
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
