{% extends "base.html" %}

{% block main %}
  <div class="container">
    <h1>File System</h1>

    {% block alert_message %}
    {% include "shared/alert_operation_status.html" %}
    {% endblock alert_message %}

    {% if state.free_space.free_space_percent < 5 %}
      <div class="alert alert-warning  mt-4">
        The disks are almost full : <span class="fw-bold">{{ state.free_space.free_space_gib }} GiB left</span> 
      </div>
    {% endif %}

    <div class="row align-items-center">
      <div class="col-md-10">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="/">
                  Categories
                </a>
              </li>

              {% if breadcrumbs is defined %}
              {% for ancestor in breadcrumbs %}
              <li class="breadcrumb-item">
                {% if loop.last %}<strong>{{ ancestor.name }}</strong>
                {% else %}<a href="/folders/{{ ancestor.path }}">{{ ancestor.name }}</a>
                {% endif %}
              </li>
              {% endfor %}
              {% endif %}
          </ol>
        </nav>
      </div>

      <div class="col-md-2 text-end">
        {% block actions_buttons %}{% endblock actions_buttons %}
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-body">
        <div class="p-4">
          <div class="d-flex align-items-center mb-4">
            <h4 class="mb-0">{% block folder_title %}{% endblock folder_title %}</h4>
            <div class="ms-4">
              {% if breadcrumbs is defined %}
              <a class="btn btn-dark" href="/folders{% if let Some(parent) = breadcrumbs.iter().rev().collect::<Vec<_>>().get(1) %}/{{ parent.path }}{% endif %}">Go up</a>
              {% endif %}
            </div>
          </div>

          <ul class="list-group">
            {% block system_list %}{% endblock system_list %}
          </ul>
        </div>
      </div>
    </div>
  </div> 

  <div class="modal fade" id="createSubFolder" tabindex="-1" aria-labelledby="createSubFolderLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Create sub-folder</h1>
        </div>
        <div class="modal-body">
          {% block content_folder_form %}{% endblock content_folder_form %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
