{% extends "base.html" %}

{%- macro query_current_torrent() -%}
{%- if current_torrent is defined -%}
{%- if let Some(current_torrent) = current_torrent -%}?id={{ current_torrent.id }}{%- endif -%}
{%- endif -%}
{%- endmacro query_current_torrent -%}

{% block main %}
  <div class="container">
    <h1>File System</h1>

    {% block alert_message %}
    {% include "shared/alert_operation_status.html" %}
    {% endblock alert_message %}

    {% if state.free_space.free_space_percent < 5 %}
      <div class="alert alert-warning  mt-4">
        The disks are almost full : <span class="fw-bold">{{ state.free_space.free_space_gib }} GiB left</span> 
      </div>
    {% endif %}

    {% if current_torrent is defined %}
    {% if let Some(current_torrent) = &current_torrent %}
      <div class="alert alert-info mt-4">
        You are currently moving the torrent {{ current_torrent.name }}
        <a class="btn btn-success text-white" href="?id={{ current_torrent.id }}&validate=true">
          <i class="fa fa-arrows-alt me-2"></i>
          Validate moving here
        </a>
        <a class="btn btn-success text-white" href="?">
          <i class="fa fa-close me-2"></i>
          Cancel
        </a>
      </div>
    {% endif %}
    {% endif %}

    <div class="row align-items-center">
      <div class="col-md-10">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="/">
                  Categories
                </a>
              </li>

              {% if breadcrumbs is defined %}
              {% for ancestor in breadcrumbs %}
              <li class="breadcrumb-item">
                {% if loop.last %}<strong>{{ ancestor.name }}</strong>
                {% else %}<a href="/folders/{{ ancestor.path }}">{{ ancestor.name }}</a>
                {% endif %}
              </li>
              {% endfor %}
              {% endif %}
          </ol>
        </nav>
      </div>

      <div class="col-md-2 text-end">
        {% block actions_buttons %}{% endblock actions_buttons %}
      </div>
    </div>

    {# torrents is not defined on the homepage (category list) #}
    {% if torrents is defined && torrents.len() > 0 %}
    <div class="card mt-4">
      <div class="card-body">
        <div class="p-4">
          <div class="d-flex align-items-center mb-4">
            <h4 class="mb-0">{{ torrents.len() }} torrents waiting for confirmation in this folder</h4>
          </div>
        </div>
        <ul class="list-group">
        {% for torrent in torrents %}
        <li>
          <a class="btn btn-success text-white" href="?id={{ torrent.id }}">
            <i class="fa fa-arrows-alt me-2"></i>
            Move around
          </a>
          <span>{{ torrent.name }} will create the following folders/files in this folder:</span>
          {# TODO: file tree in hightorrent #}
          <ul>
          {% for file in torrent.file.decoded.files().unwrap() %}
            <li>({{ file.size | filesizeformat }}) {{ file.path.to_str().unwrap() }}</li>
          {% endfor %}
          </ul>
        </li>
        {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    <div class="card mt-4">
      <div class="card-body">
        <div class="p-4">
          <div class="d-flex align-items-center mb-4">
            <h4 class="mb-0">{% block folder_title %}{% endblock folder_title %}</h4>
            <div class="ms-4">
              {% if breadcrumbs is defined %}
              <a class="btn btn-dark" href="/folders{% if let Some(parent) = breadcrumbs.iter().rev().collect::<Vec<_>>().get(1) %}/{{ parent.path }}{% endif %}{{ query_current_torrent() }}">Go up</a>
              {% endif %}
            </div>
          </div>

          <ul class="list-group">
            {% block system_list %}
            {% if children.is_empty() %}
              {% include "shared/empty_state.html" %}
            {% endif %}

            {% for child in children %}
            <li class="list-group-item py-3">
              <a class="d-block text-decoration-none" href="/folders/{{ child.folder_path }}{{ query_current_torrent() }}">
                <div class="row">
                  {# TODO: col-9 was col-md-9 on content_folder/category. Is that relevant? #}
                  <div class="col-9">
                    <div class="d-flex align-items-center">
                      <i class="fa fa-folder text-info me-3"></i>
                      <h5 class="mb-0">
                        {{ child.name }} {% if let Some(extra) = child.extra %}<code class="ms-2"span><small>{{ extra }}</small></code>{% endif %}
                      </h5>
                    </div>
                  </div>
                  <div class="col-3">
                    <p class="mb-0 fst-italic text-end">
                      <i class="fa fa-chevron-right"></i>
                    </p>
                  </div>
                </div>
              </a>
            </li>
            {% endfor %}
            {% endblock system_list %}
          </ul>
        </div>
      </div>
    </div>
  </div> 

  <div class="modal fade" id="createSubFolder" tabindex="-1" aria-labelledby="createSubFolderLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Create sub-folder</h1>
        </div>
        <div class="modal-body">
          {% block content_folder_form %}{% endblock content_folder_form %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
