<form method="POST" action="/categories" accept-charset="utf-8">
  <div class="form-group">
    <label for="name" class="form-label">Name</label>
    <input 
      type="text"
      class="form-control"
      placeholder="Ex: Movies"
      name="name"
      id="name"
      {# This is not defined in the homepage modal, when no categories have been created yet #}
      {% if category_form is defined %}
      {% if let Some(category_form) = category_form %} value="{{ category_form.name }}" {% endif %}
      {% endif %}
    />
  </div> 

  <div class="form-group mt-3">
    <label for="path" class="form-label">Path</label>
    <input 
      type="text"
      class="form-control"
      placeholder="Ex: /mnt/MyBigHdd/DATA"
      name="path"
      id="path"
      {% if category_form is defined %}
      {% if let Some(category_form) = category_form %} value="{{ category_form.path}}" {% endif %}
      {% endif %}
    />
  </div>

  <div class="text-center mt-4">
    <input type="Submit" class="btn btn-success" value="Create category">
  </div>
</form>

