{% extends "layouts/file_system_base.html" %}

{% block folder_title %}
  {{ category.name }}
{% endblock%}

{% block actions_buttons %}
  {% include "content_folders/dropdown_actions.html" %}
{% endblock %}

{% block content_folder_form %}
<form method="POST" action="/folders" accept-charset="utf-8">
    <div class="form-group">
      <label for="name" class="form-label">Name</label>
      <input 
        type="text"
        class="form-control"
        placeholder="Ex: Saison 1"
        name="name"
        id="name"
      />
    </div> 

    <input type="hidden" id="category_id" name="category_id" value="{{ category.id }}" />
    <input type="hidden" id="path" name="path" value="fake_path" />

    <div class="text-center mt-4">
      <input type="Submit" class="btn btn-success" value="Create folder">
    </div>
  </form>
{% endblock %}
