{% extends "base.html" %}

{% block main %}
  <div class="container">
    <h1>Logs</h1>

    <div class="log-container mt-4">
      {% for log in logs %}
        <div class="log-line">
          <code class="text-white">
            <details>
              <summary>
                {% include "logs/log_line.html" %}
              </summary>
              <p class="mt-2 mb-3">{{ log.operation }}</p>
            </details>
          </code>
        </div>
      {% endfor %}
      <!-- Exemple de lignes de log -->
    </div>
  </div>
{% endblock %}
