<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Actions
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#createSubFolder">Create a subfolder</a></li>
    {% if let Some(folder) = folder %}
    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#importMagnetLink" href="#">Import magnet link</a></li>
    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#importTorrentFile" href="#">Import torrent file</a></li>
    {% endif %}
  </ul>
</div>

{% if let Some(folder) = folder %}
<div class="modal fade" id="importTorrentFile" tabindex="-1" aria-labelledby="importTorrentFile" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Import Torrent</h1>
      </div>
      <div class="modal-body">
        <form method="POST" action="/folders/{{ folder.id }}/upload_torrent" accept-charset="utf-8" enctype="multipart/form-data">
          <div class="alert alert-info text-start">
            <p>
              You are about to import a torrent in the folder
              <code class="ms-2"><span><small>{{ folder.name }}</small></span></code>.
            </p>
          </div>
          <div class="row align-items-center">
            <div class="col-md-12 text-center">
              <img src="/assets/images/torrent.png" class="img-64">
            </div>
            <div class="col-md-12 mt-3">
              <input type="file" id="torrent" name="file" class="form-control" accept=".torrent,application/x-bittorrent">

              <div class="text-center mt-4">
                <input type="Submit" class="btn btn-success btn-lg" value="Import">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="importMagnetLink" tabindex="-1" aria-labelledby="importMagnetLink" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Import Magnet Link</h1>
      </div>
      <div class="modal-body">
        <form method="POST" accept-charset="utf-8" action="/folders/{{ folder.id }}/upload_magnet">
          <div class="alert alert-info text-start">
            <p>
              You are about to import a magnet in the folder
              <code class="ms-2"><span><small>{{ folder.name }}</small></span></code>.
            </p>

            <p>
              You will be able to reorganize the torrent content later, once the magnet has been resolved.
            </p>
          </div>
          <div class="row align-items-center">
            <div class="col-md-12 text-center">
              <img src="/assets/images/magnet.png" class="img-64">
            </div>
            <div class="col-md-12 mt-3">
              <input type="text" name="magnet" class="form-control" placeholder="Magnet link to download" id="magnet">

              <div class="text-center mt-4">
                <input type="Submit" class="btn btn-success btn-lg" value="Add to resolving list">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
