{% extends "layouts/file_system_base.html" %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="/file-system">
      Categories
    </a>
  </li>

  <li class="breadcrumb-item">
    <a href="/folders/{{ category.name }}">
      {{ category.name }}
    </a>
  </li>

  {% for i in (0..breadcrumb_items.len()) %}
    {% let breadcrumb_item = breadcrumb_items[i] %}
    
    <li class="breadcrumb-item">
      {% if i + 1 == breadcrumb_items.len() %}
        <strong>{{ breadcrumb_item.name }}</strong>
      {% else %}
      <a href="/folders/{{category.name}}{{ breadcrumb_item.path }}">
          {{ breadcrumb_item.name }}
        </a>
      {% endif %}
    </li>
  {% endfor %}
{% endblock %}

{% block folder_title %}
  {{ current_content_folder.name }}
{% endblock%}

{% block additional_buttons %}
  {% if let Some(p) = parent_folder %}
  <a class="btn btn-dark" href="/folders/{{category.name}}{{ p.path }}">
      Go up
    </a>
  {% else %}
    <a class="btn btn-dark" href="/folders/{{ category.name }}">
      Go up
    </a>
  {% endif %}
{% endblock %}

{% block alert_message %}
  {% include "shared/alert_operation_status.html" %}
{% endblock %}


{% block system_list %}
  {% if sub_content_folders.is_empty() %}
    {% include "shared/empty_state.html" %}
  {% endif %}

  {% for folder in sub_content_folders %}
    <li class="list-group-item py-3">
      <a class="d-block text-decoration-none" href="/folders/{{ category.name }}{{ folder.path }}">
        <div class="row">
          <div class="col-md-9">
            <div class="d-flex align-items-center">
              <i class="fa fa-folder text-info me-3"></i>
              <h5 class="mb-0">
                {{ folder.name }}
              </h5>
            </div>
          </div>
          <div class="col-md-3">
            <p class="mb-0 fst-italic text-end">
              <i class="fa fa-chevron-right"></i>
            </p>
          </div>
        </div>
      </a>
    </li>
  {% endfor %}
{% endblock %} 


{% block actions_buttons %}
  {% include "content_folders/dropdown_actions.html" %}
{% endblock %}

{% block content_folder_form %}
<form method="POST" action="/folders" accept-charset="utf-8">
    <div class="form-group">
      <label for="name" class="form-label">Name</label>
      <input 
        type="text"
        class="form-control"
        placeholder="Ex: Saison 1"
        name="name"
        id="name"
      />
    </div> 

    <input type="hidden" id="category_id" name="category_id" value="{{ category.id }}" />
    <input type="hidden" id="parent_id" name="parent_id" value="{{ current_content_folder.id }}" />
    <input type="hidden" id="path" name="path" value="fake_path" />

    <div class="text-center mt-4">
      <input type="Submit" class="btn btn-success" value="Create folder">
    </div>
  </form>
{% endblock %}

