{% extends "layouts/file_system_base.html" %}

{% block folder_title %}
  {{ folder.name }}
{% endblock%}

{% block alert_message %}
  {% include "shared/alert_operation_status.html" %}
  {% if let Some(error) = error %}
  <div class="alert alert-danger mt-4">
    <p class="mb-0">{{ error }}</p>
    {% for inner_error in error.inner_errors() %}
    <p>→ {{ inner_error }}</p>
    {% endfor %}
  </div>
  {% endif %}
{% endblock %}

{% block actions_buttons %}
  {% include "content_folders/dropdown_actions.html" %}
{% endblock %}

{% block content_folder_form %}
<form method="POST" action="/folders" accept-charset="utf-8">
    <div class="form-group">
      <label for="name" class="form-label">Name</label>
      <input 
        type="text"
        class="form-control"
        placeholder="Ex: Saison 1"
        name="name"
        id="name"
      />
    </div> 

    <input type="hidden" id="category_id" name="category_id" value="{{ category.id }}" />
    <input type="hidden" id="parent_id" name="parent_id" value="{{ folder.id }}" />
    <input type="hidden" id="path" name="path" value="fake_path" />

    <div class="text-center mt-4">
      <input type="Submit" class="btn btn-success" value="Create folder">
    </div>
  </form>
{% endblock %}
