{% extends "base.html" %}

{% block main %}
  <div class="container">
    <h1>List of uploaded torrents not yet imported</h1>

    <div class="card my-3">
      <div class="card-body">
        <div class="table-responsive-lg">
          <table class="table align-middle">
            <thead>
              <tr>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            {% for torrent in torrents %}
            <tr>
              <td class="is-left" align="left">{{ torrent.name }}</td>
              <td><a href="{{ state.linker.folder_url(torrent.category.as_ref().unwrap().into(), torrent.content_folder.as_ref()) }}" class="btn btn-success">Aller dans le dossier</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
