<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}TorrentManager{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <link rel="stylesheet" href="/assets/css/fork-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    {% block extra_head %}{% endblock extra_head %}
  </head>

  <body class="d-flex flex-column min-vh-100">
    {% include "menus/header.html" %}

    <section class="section" style="padding-top: 100px;">
      {% block errors %}
        {% if flash is defined %}
        {% if let Some(flash) = flash %}
        <div class="alert {% if flash.success %}alert-success{% else %}alert-danger{% endif %} mt-4">
          {% for message in flash.message.messages() %}
          <p class="mb-0">{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
        {% endif %}
        {% if state.free_space.free_space_percent < 5 %}
        <div class="alert alert-warning  mt-4">
          The disks are almost full : <span class="fw-bold">{{ state.free_space.free_space_gib }} GiB left</span> 
        </div>
        {% endif %}

      {% endblock %}
      {% block main %}{% endblock %}
    </section>

    <footer class="text-center mt-auto pt-4">
      {% block footer_extra %}
        {% include "menus/footer.html" %}
      {% endblock %}
    </footer>

    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>
