{% extends "base.html" %}

{% block main %}
  <div class="container">
    <h1>Download files</h1>
    
    {% if state.free_space.free_space_percent < 5 %}
      <div class="alert alert-warning  mt-4">
        The disks are almost full : <span class="fw-bold">{{ state.free_space.free_space_gib }} GiB left</span> 
      </div>
    {% endif %}

    <form method="POST" action="/upload" enctype="multipart/form-data" accept-charset="utf-8">
      <div class="card mt-4">
        <div class="card-body">
          <div class="form-group">
            <label for="collection" class="form-label mb-0">Category</label>
            <div id="collection" class="form-text mb-1">Choose the type of content you want to download.</div>
            <select class="form-select" aria-label="Choose the type of content you want to download" name="collection">{#{% set post_tag = post.tag %} TODO #}
              <option disabled {#{% if post_tag is not defined %}selected{% endif %}#}>Genre</option>
              {% for tag in categories %}
              <option {#{% if post_tag == tag %}selected {% endif %}#}value="{{ tag }}">{{ tag }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-sm">
          {% include "sources/magnet.html" %}
        </div>

        <div class="col-md-1 mt-3 mt-sm-0">
          <div class="d-flex align-items-center h-100 justify-content-center">
            <h2>OR</h2>
          </div>
        </div>

        <div class="col-sm mt-3 mt-sm-0">
          {% include "sources/torrent.html" %}
        </div>
      </div>

      <div class="text-center mt-4">
        <input type="Submit" class="btn btn-success btn-lg" value="Next">
      </div>
    </form>
  </div>
{% endblock %}
