{% extends "layouts/file_system_base.html" %}

{% block folder_title %}
  All categories
{% endblock%}

{% block actions_buttons %}
  {% include "categories/dropdown_actions.html" %}
{% endblock actions_buttons %}

{% block system_list %}
  {{ super() }}

  <div class="modal fade" id="createCategory" tabindex="-1" aria-labelledby="createCategoryLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Create category</h1>
        </div>
        <div class="modal-body">
          {% include "categories/form.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
