{% extends "base.html" %}

{% block extra_head %}
{# If there's only one torrent, and its status is not finished, reload regularly #}
{% if torrent_list.torrents.len() == 1 %}
{% set torrent = torrent_list.torrents.get(0).unwrap() %}
{% if torrent.progress < 100 %}<meta http-equiv="refresh" content="5;">{% endif %}
{% endif %}
{% endblock %}

{% block main %}
  <div class="container">
    <h1>Torrents list</h1>

    <div class="card mt-4">
      <div class="card-body">
        {% include "menus/progress.html" %}
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-body">
        {% if torrent_list.torrents.len() == 0 %}
          {% include "shared/empty_state.html" %}
        {% else %}
          {% include "progress_table.html" %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
